/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
tags
.nrepl-history
.nrepl-port

.*.sw?
.nfs*
*~

*.o
*.so
*.class

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf
